<div class="row" id="random">
    <div class="col-sm-6">

    </div>

    <div class="col-sm-6">
        <canvas id="myChart"></canvas>
    </div>
    
</div>

{{!-- <div class="row" id="chart">
    <canvas id="myChart"></canvas>

</div> --}}
<style>
    form{
        background-color:#E7E9EB;
        padding-left: 145px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #random{
        background-color:#E7E9EB;
        
    }
</style>