<div class="row">
    <form action="/generate-fake-posts" method="post">
        <h1>Create Posts</h1>
        <div class="form-group">
            <input type="number" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
        </div>
    </form>
</div>