<div class="row" id="random">
    <form class="form" action="/admin/generate-fake-posts" method="post">
        <h1>Creat Post</h1>
        <div class="form-group">
            <label for="create">Create Posts</label>
            <input type="number" name="amount" id="" class="form-control" placeholder="" aria-describedby="helpId">
        </div>
        <button type="submit">Create</button>
    </form>
</div>
<style>
    form{
        background-color:#E7E9EB;
    }
    #random{
        background-color:#E7E9EB;
    }
</style>