<div class="row" id="random">
    <div class="col-sm-6"></div>
    <form class="form" action="/admin/generate-fake-posts" method="post">
        <div class="form-group">
            <hr>
            <h1>Create Posts</h1>
            <hr>
            <label for="create" >Random Post</label>
            <input type="number" name="amount" id="" class="form-control" placeholder="" aria-describedby="helpId">
        </div>
        <button type="submit"  class="btn btn-success" >Create</button>
    </form>
    <canvas id="myChart"></canvas>
</div>

{{!-- <div class="row" id="chart">
    <canvas id="myChart"></canvas>

</div> --}}
<style>
    form{
        background-color:#E7E9EB;
        padding-left: 145px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #random{
        background-color:#E7E9EB;
        
    }
</style>