<h1>Comments</h1>
<style>
table {
  background-color:#E7E9EB;
}
</style>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Owner</th>
            <th>Date</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each comments}}
        <tr>
            <td>{{_id}}</td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{generateTime date "MMMM Do YYYY"}}</td>
            <td>
            <form action="
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>