<h1>Comments</h1>
<style>
table {
  background-color:#E7E9EB;
}
</style>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Owner</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each comments}}
        <tr>
            <td>{{_id}}</td>
            <td>{{user}}</td>
            <td>{{date}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>