<h1>Create Post</h1>

<form action="/admin/posts/create" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" class="form-control" placeholder="Enter title" aria-describedby="helpId">

    </div>
    <div class="form-group">
      <label for="title">Status</label>
      <select name="status" id="status" class="form-control">
        <option value="public">Public</option>
        <option value="private">Private</option>
        <option value="public">Drafr</option>
      </select>
    </div>
    <button type="submit">Submit</button>

</form>
