<h1>Create Post</h1>
<style>
form {
  background-color:#E7E9EB;
}

#to{
  background-color:#E7E9EB;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}


alert-danger {
  background-color:#E7E9EB;
}
</style>

{{#each errors}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/each}}
<div class="" id="to">
  <h1>Create Post</h1>
<form action="/admin/posts/create" method="post" class="form" enctype="multipart/form-data">
    <div class="form-group" id="nho">
      <label for="title">Title</label>
      <input type="text" name="title" id="" class="form-control" placeholder="Enter title" aria-describedby="helpId" required>
    </div>

    <div class="form-group" id="nho">
      <label for="file">File Upload</label>
      <input type="file" class="form-control-file" name="file" id="" placeholder="Upload here" aria-describedby="fileHelpId" required>
    </div>

    <div class="form-group" id="nho">
      <label for="title">Status</label>
      <select name="status" class="form-control">
        <option value="public">Public</option>
        <option value="private">Private</option>
        <option value="draft">Draft</option>
      </select>
    </div>
    {{!-- <div class="form-check">
      <label for="allowComments">
      <input type="form-check" name="allowComments" id="allowComments" class="form-check-input" placeholder="" aria-describedby="helpId">
        ALl Comments
      </label>
    </div> --}}

    <div class="form-check" id="nho">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="allowComments" id="nho" value="checkedValue" checked >
        All Comments
      </label>
    </div>

    <div class="form-group" id="nho">
      <label for="body">Body</label>
      <textarea required class="form-control" name="body"  rows="10" cols="30">Enter Description</textarea>
    </div>

    <button type="submit" class="btn btn-primary" >Submit</button>

</form>
</div>