<h1>Create Post</h1>
<style>
form {
  background-color:#E7E9EB;
}
#to{
  background-color:#E7E9EB;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

</style>
    {{!-- {{#each post}} --}}
<div class="" id="to">
<form class="form" action="/admin/posts/edit/{{post._id}}" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" id="" class="form-control" aria-describedby="helpId" value="{{post.title}}">
    </div>
    <div class="form-group">
      <label for="title">Category</label>
      <select name="category" id="category" class="form-control">
        <option value="public">Network</option>
        <option value="private">Security</option>
        <option value="draft">Web 2.0</option>
        <option value="public">Public</option>
        <option value="private">Private</option>
        <option value="draft">Draft</option>
      </select>
    </div>
    <div class="form-group">
      <label for="title">Status</label>
      <select name="status" id="status" class="form-control">
        <option value="public">Public</option>
        <option value="private">Private</option>
        <option value="draft">Draft</option>
      </select>
    </div>
    {{!-- <div class="form-check">
      <label for="allowComments">
      <input type="form-check" name="allowComments" id="allowComments" class="form-check-input" placeholder="" aria-describedby="helpId">
        ALl Comments
      </label>
    </div> --}}
    {{!-- {{#select 'dddddddddddd'}}{{/select}} --}}

    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" {{#if post.allowComments}} value="checkedValue" checked {{/if}} class="form-check-input" name="allowComments" id="allowComments">
        All Comments
      </label>
    </div>

    <div class="form-group">
      <label for="body">Body</label>
      <textarea class="form-control" name="body" id="" rows="16" cols="30" value="{{post.body}}">{{post.body}}</textarea>
    </div>
    {{!-- {{/each}} --}}
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>