<h1>ALL POSTS</h1>

<table class="table" <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action list-group-item-primary active">Active item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-primary disabled">Disabled item</a>
</div>>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Status</th>
      <th>ALlow Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Id</td>
      <td>Title</td>
      <td>Status</td>
      <td>ALlow Comments</td>
    </tr>
  </tbody>
</table>