<h1>Edit Category</h1>

<style>
    to{
        background-color:#E7E9EB;
        padding-left: 115px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #
    
</style>

<div class="to" id="nho">
    <div class="col-sm-4">
    
        <form action="/admin/categories/edit" method="post">
            <div class="form-group">
                
                <label for="name">Name</label>
                <input type="text" value="{{category.name}}" name="name" id="" class="form-control" placeholder="Enter title" aria-describedby="helpId">
            </div>
            <button type="submit" class="btn btn-success">Update Category</button>
        </form>
    </div>
</div>
