<hr>
<hr>
<style>
    h1 {
        background-color:#E7E9EB;
        padding-left: 30px;

    }
</style>
<h1>Categories</h1>

<div class="row">
    <div class="col-sm-4">
        <form action="/admin/categories/create"></form>
    </div>
</div>