<hr>
<hr>
<style>
    h1 {
        background-color:#E7E9EB;
        padding-left: 30px;

    }
</style>
<h1>Categories</h1>

<div class="row">
    <div class="col-sm-4">
        <form action="/admin/categories/create">
            <div class="form-group">
                <label for=""></label>
                <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                <small id="helpId" class="text-muted">Help text</small>
            </div>
        </form>
    </div>
</div>